<p>login works!</p>
<!--Login Page START-->

 <nb-card-body>
  <p>TEST!</p>
  <mat-form-field >
    <mat-label>User Name</mat-label>
    <input maxlength="50" matInput autocomplete="off" type="text" style="text-transform: uppercase;"
    class="col-lg-8" formControlName="username" required>                    
</mat-form-field>
  <!-- <nb-flip-card [showToggleButton]="false" id="loginpage"   [flipped]="flipped" >
      <nb-card-front >
        <mat-form-field >
            <mat-label>User Name</mat-label>
            <input maxlength="50" matInput autocomplete="off" type="text" style="text-transform: uppercase;"
            class="col-lg-8" formControlName="username" required>                    
        </mat-form-field>
      </nb-card-front>
        
    </nb-flip-card> -->
</nb-card-body>